%h1
  Friends
  = link_to 'Add friend', new_friend_path, class: 'btn btn-success'
%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
  - @friends.each do |friend|
    %tbody
      %tr
        %td= friend.first_name
        %td= friend.last_name
        %td= friend.email
