%h2 Tasks manager

%p
  To do list
  = render 'tasks_table', tasks: @uncompleted_tasks, table_id: 'uncompleted_tasks'

%p
  Completed tasks
  = render 'tasks_table', tasks: @completed_tasks, table_id: 'completed_tasks'
