%h2 Received Invitations
%table.table.table-striped
  %tr
    %th Sender
    %th Actions
  - @received_invitations.each do |invitation|
    %tr
      %td= invitation.sender
      %td
        =link_to 'Accept', accept_invitation_path(invitation), method: :put, class: 'btn btn-info'
        =link_to 'Decline', decline_invitation_path(invitation), method: :put, class: 'btn btn-danger'

%h2 Sent Invitations
%table.table.table-striped
  %tr
    %th Receiver
  - @sent_invitations.each do |invitation|
    %tr
      %td= invitation.receiver
